<main class="content main-content">
<aside class="main-aside profile-user"> 
  <header class="profile-img">
    <img src="{{friend.profileImg}}" alt="{{friend.username}} profile pic">
  </header>
</aside>
<section>
  <h2>{{friend.name}} {{friend.surnames}}</h2>
  {{>estadoFriend}}
  <h2>Novedades</h2>
</section>
<aside class="main-aside albums-profile">
  <h3>Álbumes</h3>
  <div class="albums-container">
  {{#each friend.albums}}
    <a href="/t/user/{{../friend.username}}/albums/{{this._id}}">
      <img src="{{photos.[0].photo}}" alt="{{this.photos.[0].name}}">
    </a>
  {{/each}}
  </div>
</aside>
</main>