<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - Tuentiyo&reg;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="preload">
    {{#if currentUser}}
    <section class="modals">
      <div class="close-modal">
        <div></div>
        <div></div>
      </div>
        <h3>Crea un album</h3>
      <form class="new-album" method="POST">
      <input type="text" class="new-album-input" name="name" placeholder="Nuevo Album">
      <button>Crear Album</button>
      </form>
      <div class="albums-modal">
        {{#unless user.albums}}
        <p class="no-albums">Todavía no tienes ningún album, ¡crea el primero a continuación!</p>
        {{else}}
        <p>O selecciona uno que tengas creado.</p>
          <form action="/t/profile/upload" method="POST" class="upload-pics" enctype="multipart/form-data">
            <div class="container-albums">
              <div class="toggle-albums">
            {{#each user.albums}}
              <input name="album" id="{{name}}" type="radio" value="{{_id}}">
              <label for="{{name}}">{{name}}</label>
            {{/each}}
              </div>
            </div>
            <input type="file" multiple name="photo">
            <button>Cargar fotos</button>
          </form>
        {{/unless}}
        <div>
        </div>
      </div>
    </section>
    <nav class="nav-bar">
      {{>menuDesk}}
    </nav>
    <header class="mobile-menu">
      <div class="mobile-navbar">
        {{>menuMobileHeader}}
      </div>
      <nav class="menu-mobile-links-box">
        {{>menuMobileLinks}}
      </nav>
    </header>
    {{/if}}
    {{{body}}}
    <script src="/javascripts/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
