<main>
    <h1>Resultado de la búsqueda:</h1> 
    <ul>
        {{#each filteredUsers}}
            <li>
                <a href="/t/user/{{username}}"><img src="{{profileImg}}" alt="Profile picture" class="searchImg">{{name}} {{surnames}}</a>
                {{#if isFriend}}
                <button disabled>Ya sois amigos</button>
                {{else}}
                <form class="add-friend">
                    <button>Añadir Amigo</button>
                </form>
                {{/if}}
            </li>
        {{/each}}
    </ul> 
</main>