<main class="searchResult">
    <h1>Resultado de la búsqueda:</h1> 
    <ul>
        {{#unless filteredUsers}}
            No hay coincidencias
        {{/unless}}
        {{#each filteredUsers}}
            <li class="result">

                <a href="/t/user/{{username}}"><img src="{{headPhoto}}" alt="Profile picture" class="searchImg"></a>
                <div>
                    <a href="/t/user/{{username}}"><h3>{{name}} {{surnames}}</h3></a>
                    {{#if lastState}}
                        <p>{lastState}}</p>
                    {{/if}}
                    {{#if isFriend}}
                    <button disabled>Ya sois amigos</button>
                    {{else}}
                    <form class="add-friend">
                        <button id="{{_id}}">Añadir Amigo</button>
                    </form>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul> 
</main>