<main class="content main-content">
<aside class="main-aside"> 
  <header class="profile-index">
    <div>
     <img src="{{url}}" alt="Profile img">
    </div>
    <div>
      <h4><a href="/t/user/{{currentUser.username}}">{{currentUser.name}} {{currentUser.surnames}}</a></h4>
      <p class="stats"><span>{{user.visits}}</span> visitas a tu perfil</p>
    </div>
  </header>
  <section class="calendar-section">
    <h3>Calendario</h3>
    <ul class="calendar">
      <li class="calendar-day">Hoy</li>
      <li class="birthday"><a href="/t/user/pepitoeldelospalotes">Pepito el de los palotes</a> ¡Deséale felicidades!</li>
      <li class="birthday"><a href="/t/user/pepitoeldelospalotes">Er iyo</a> ¡Deséale felicidades!</li>
      <li class="calendar-day">Mañana</li>
      <li>No hay cumpleaños</li>
      <li class="calendar-day">Próximos 7 días</li>
      <li class="birthday"><a href="/t/user/pepitoeldelospalotes">Er iyo</a> 27/09/2019</li>
    </ul>
  </section>
</aside>
<section> 
  <section class="write-status">
  <form action="/t/profile/updateStatus" method="POST">
    <input type="text" name="status" placeholder="¿En qué piensas?">
  </form>
  <p> <span>Estado actual:</span>  {{lastStatus.status}}</p>
</section>
  <h2>Novedades</h2>
</section>
<aside class="main-aside invite-your-friends">
  <h3>¡Invita a tus amigos a Tuentiyo!</h3>
  <p>Tuentiyo actualmente, como la original, es una beta cerrada*, para que tus amigos se puedan registrar, ¡debes invitarlos!</p>
  <p><small>*Beta cerrada de por vida, como la original ;)</small></p>
  <form action="#">
    <input type="text" placeholder="Invita a tus amigos a Tuentiyo">
    <button>;)</button>
  </form>
</aside>
</main>