<section class="content">
 {{>menuEditProfile}}
  <main>
    <h2>Editar perfil</h2>
    <form action="/t/profile/changepic" class="change-pic-form" method="POST" enctype="multipart/form-data">
      <div>
        <input type="file" name="profileImg" id="profileimg">
        <img class="img-profile" src="{{currentUser.profileImg}}">
      </div>
    </form>

    <form action="/t/profile/edit/profile" method="POST" class="edit-info-form">
      <label for="name">Nombre:</label>
      <input type="text" name="name" id="name" placeholder="Nombre" value="{{currentUser.name}}">
      <label for="surname">Apellidos:</label>
      <input type="text" name="surnames" id="surname" placeholder="Apellidos" value="{{currentUser.surnames}}">
      <label for="description">Descripción:</label>
      <input type="text" name="description" id="description" placeholder="Descripción" value="{{currentUser.description}}">
      <label for="job">Trabajo:</label>
      <input type="text" name="job" id="job" placeholder="Trabajo" value="{{currentUser.job}}">
      <label for="studies">Estudios:</label>
      <input type="text" name="studies" id="studies" placeholder="Estudios" value="{{currentUser.studies}}">
      <label for="birthday">Fecha de cumpleaños:</label>
      <input type="date" name="birthday" id="birthday" placeholder="Cumpleaños" value="{{currentUser.date}}">
      <button type="submit">Editar información</button>
    </form>
  </main>
</section>
  