<main class="content content-photo">
<h1 class="photo-title">{{photo.name}}</h1>
<div class="grid-album">
  <div class="main-photo">
    <img src="{{photo.photo}}" alt="{{photo.name}}">
  </div>
  <div class="albums-photos">
    {{#each nextThreePhotos}}
      <div class="thumb">
        <a href="/t/user/{{../user.username}}/albums/{{idAlbum}}/photo/{{_id}}"><img src="{{nextPhotosCropped}}" alt="{{name}}"></a>
      </div>
    {{/each}}
  </div>
</div>


<form class="comment-form">
  <input type="text" name="comment" autocomplete="off" placeholder="Escribe un comentario">
  <input type="text" name="idPhoto" hidden value="{{photo._id}}">
  <button>Comentar</button>
</form>

<section class="comments">

 {{#each photo.comments}}
 <article class="user-comment">
   <div class="comment">{{comment}} <span>{{date}}</span></div>
   <a href="/t/user/{{idUser.username}}"><img src="{{photoCropped}}" alt=""></a>
 </article>
 {{/each}}
</section>
  </main>